:root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;

  /** fonts **/
  --font-fallback: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-mono: "IBM Plex Mono", monospace;

  font-family: "Work Sans", var(--font-fallback);
}
a {
  transition: color 0.2s linear;
}

a:hover {
  @apply text-purple-600;
}
