---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="w-full flex flex-col items-center">
    <h1 class="justify-self-center">Yo! I'm Domitrius</h1>
    <p class="justify-self-center">
      I'm a software engineer and I love to build things.
    </p>
  </div>
</BaseLayout>
