---
---

<nav class="flex justify-between items-center mb-7 border-b-black border-b-2">
  <div class="text-xl">
    <a class="flex gap-2" href="/">Home</a>
  </div>

  <div class="flex items-center gap-7 px-2 py-4 rounded-sm">
    <a class="hover:text-[#b8860b]" href="/posts">Blog</a>
  </div>
</nav>
