---
const { postUrl, post } = Astro.props;
const pathname = new URL(Astro.url.pathname, "http://localhost:3001");
const [endpoint] = new URL(postUrl).pathname
  .split("/")
  .filter((str) => str.length > 0);
---

<a class="link" href={`${pathname}/${endpoint}`}>
  <div class="flex items-center justify-between p-7 border-t-black">
    <p class="title">{post.properties.title}</p>
    <p class="min-w-[10ch]">{post.date.created}</p>
  </div>
</a>
